html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}
/*div {
    border: 1px solid Chocolate;
} */
nav {
	background-color: white;
}
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
 	font-size: 16px;
 	color: #838994;
 	letter-spacing: 0.03em;
 	z-index: 9999;
 } 
 /*still need to adjust spacing on nav links*/
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links  li:hover {
	font-weight: bold;
	cursor: pointer;
	color: #333333;
}
.top-navigation > .content {
	width: gti ;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.content > .links {
	float: right;
	box-sizing: padding-box; 
 	margin-top: 25px;
}
.links li {
	display: inline-block;
	padding: 0 6.5px;
}
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
    color: white;
    text-align: center;
}
.introduction > .content {
	display: block;
	height: 4.375rem;
	width: 46rem;
	margin:0 auto;
	padding: 0px 15px;
}
.introduction h1 {
	margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 1.25rem;
    font-size: 1.563rem;
}
/*section {
	border:1px solid Chocolate;
}*/
.big-button {
	background-color: #ffa500;
	margin: auto 0;
	text-shadow:none;
	border-style:none;
	border-radius: 4px;
	padding:16px 26px;
	text-shadow: none;
}
.big-button:hover {
	cursor:pointer;
	background-color: #e68a00;
}
.cases {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	margin:auto 0;
	display:inline-block;
	text-align: center;
}
.cases h2{
	margin-top: 7rem;
    font-size: 3rem;
}
.cases h3 {
	font-size: 1.563rem;
}
.cases .devices{
	width:33.333333%;
	display:inline-block;
/*remove the bullets with list-style*/
.social ul {
	list-style:none;
}
.icons i {
	border-radius: 50%;
	display:inline-block;
}

.icon-section{
	display: inline-block;
}
/*-----this might be worthless code---
.section > .icon-section {
	margin: auto 0;
	text-align:center;
}
.icon > img{
	text-align: center;
	width: 25px;
	height: 25px;
	display: inline-block;
}
*/