body {
	color: lightGray;

}
div {
    border: 1px solid Chocolate;
}

nav {
	background-color: white;
}
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	/* not sure if this goes here */
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
 	font-size: 16px;
 	color: #838994;
 	letter-spacing: 0.03em; 
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links  li:hover {
	font-weight: bold;
	cursor: pointer;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.content > .links {
	float: right;
	box-sizing: padding-box; 
 	margin-top: 25px;
}
div > .content {
	padding: 0px 15px;
}
.links > li {
	display: inline-block;
}